@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif; background-color: transparent; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{ font-weight: bold; }
a, a:hover, a:focus, button:focus{ text-decoration:none; outline:none;}

html{ background: url(../images/body_bg.jpg) no-repeat center; background-size: cover; min-height: 100%;}

.top_logo{ text-align: right; padding: 15px 0; }
.top_logo img{ display: inline-block; height: 40px; }
.login_section{ padding:80px 15px; max-width: 300px; margin: 0px auto;position: relative; }
.login_form{ transform: translateY(50%);}
.login_section .logo{ text-align: center; margin-bottom: 30px; }
.login_section .logo img{ max-width: 100%; max-height: 80px; display: inline-block; }
.login_section .form-group{ margin-bottom: 15px; }
.login_section .form-control{ height: 40px; font-size: 18px; border-radius: 4px; border: 0; box-shadow: none; }
.login_btns{ text-align: center; }
.login_btns button, .explore_btn a{ cursor: pointer; width: 100%; font-size: 28px; font-weight: 500; color: #fff; line-height:40px; border: 0; border-radius: 4px; text-shadow: 2px 2px #333; margin-bottom: 20px;
 background: rgba(0,163,222,1);
background: -moz-linear-gradient(top, rgba(0,163,222,1) 0%, rgba(0,121,188,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,163,222,1)), color-stop(100%, rgba(0,121,188,1)));
background: -webkit-linear-gradient(top, rgba(0,163,222,1) 0%, rgba(0,121,188,1) 100%);
background: -o-linear-gradient(top, rgba(0,163,222,1) 0%, rgba(0,121,188,1) 100%);
background: -ms-linear-gradient(top, rgba(0,163,222,1) 0%, rgba(0,121,188,1) 100%);
background: linear-gradient(to bottom, rgba(0,163,222,1) 0%, rgba(0,121,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3de', endColorstr='#0079bc', GradientType=0 ); }
.login_btns a{ font-size: 18px; color: #fff; font-weight: 300; }
.login_footer{ text-align: center; color: #b7b3b9; font-size: 18px; padding: 15px 0;}

.dashboard_section{ padding: 30px 0; }
.dash_item{ display: block; height: 180px; position: relative; margin: 15px 0; overflow: hidden; background-repeat: no-repeat; background-size: cover; background-position: center; }
.dash_item h2{ font-size: 36px; line-height: 30px; font-weight: 700; position: absolute; }
.dash_item h2 span{ display: block; font-size: 20px; font-weight: 400; }
.dash_item img{ display: inline-block; }
.dash_about img{ height: 96px; margin-top: 15px; margin-left: 15px; }
.dash_about h2{ color: #fff; text-align: right; right: 15px; bottom: 10px; }
.dash_overview h2{ text-align: right; color: #fff; right: 15px; top: 10px; }
.dash_speaker h2{ text-align: left; color: #000; left: 15px; top: 15px; }
.dash_delegate h2{ text-align: right; color: #000; right: 15px; top: 15px;  }
.dash_event h2{ text-align: left; color: #fff; left: 15px; top: 15px;  }
.dash_itinerary h2{ text-align: right; color: #fff; right: 15px; top: 15px; }
.dash_upload h2{ text-align: left; color: #fff; left: 15px; top: 15px;  }
.dash_gallery h2{ text-align: right; color: #fff; right: 15px; top: 10px; }
.dash_virtual h2{ text-align: left; color: #000; left: 15px; top: 15px;  }
.dash_contact h2{ text-align: right; color: #000; right: 15px; top: 15px; }
.landing_footer{ display: flex; flex-wrap: wrap; color: #fff; padding-bottom: 15px; }
.landing_footer .left{ margin-right: auto; }
.landing_footer a{ color: #fff; font-size: 18px; font-weight: 300; }
.dash_item.dash_itinerary img{ position: absolute; bottom: 10px; height: 92px;left: 115px;}

.header{ display: flex; flex-wrap: wrap; align-items: center; padding:10px 20px; }
.header .back_btn{ color: #8dc2e2; font-size: 36px; margin-right: auto; padding: 10px; }
.header h1{ color: #fff; font-size: 36px; font-weight: normal; }
.header .home_btn{  color: #8dc2e2; font-size: 36px; margin-left: auto;  padding: 10px; }

.profile_edit{ padding: 30px 0; }
.profile_img{ text-align: center; margin-bottom: 30px; }
.profile_img img{ display: inline-block; width: 180px; height: 180px; border-radius: 50%; margin-bottom: 15px; }
.profile_img h3{ font-size: 24px; font-weight: normal; color: #fff;}
.profile_img button{ font-size: 18px; background: none; color: #fff; border: 0; padding: 0; box-shadow: none; font-weight: normal; cursor: pointer; }
.profile_edit .form-group{ margin-bottom: 20px; }
.profile_edit .form-group label{ font-size: 16px; color: #fff;  }
.profile_edit .form-control{ font-size: 16px; color: #000; height: 40px; }
.profile_edit .form-control:focus{ outline: none; box-shadow: none; }
.profile_edit .checkbox{ font-size: 16px; font-weight: 300; line-height: 18px; color: #fff; position: relative; padding-left: 20px; }
.profile_edit .checkbox input[type="checkbox"]{ position: absolute; left: 0; top: 3px; }
.profile_btns{ text-align: center; }
.profile_btns button{ cursor: pointer; font-size: 24px; font-weight: 500; text-shadow: 2px 2px #444; padding: 0px 30px; color: #fff;line-height: 48px; margin: 0px 5px; border: 0; box-shadow: none; border-radius: 6px; }
.profile_btns button.save_btn{ background: #0082c3; }
.profile_btns button.cancel_btn{ background: #898b8e; }
.footer_social{ padding-bottom: 20px; text-align: right; }
.footer_social_border{ padding-top: 15px; border-top: 1px solid #ccc; }
.footer_social a{ display: inline-block; margin: 0px 5px; }
.about_section{ background: rgba(0,169,192,0.4); padding: 30px 15px; border-radius: 4px; color: #eee; margin-bottom: 30px;}
.about_section h5{ font-size: 18px; font-weight:500; margin-bottom: 3px; }
.about_section p{ font-size: 16px; margin-bottom: 20px; font-weight: 300; text-align: justify;}
.about_section p:last-child{ margin-bottom: 0; }
.overview_section{ background: rgba(0,169,192,0.4); padding: 15px; border-radius: 4px; color: #eee; margin-bottom: 10px;}
.overview_text{ max-height: 175px; overflow: hidden; }
.overview_text.show_all{ max-height: inherit; }
.overview_section p{ font-size: 16px; margin-bottom: 20px; font-weight: 300; text-align: justify;}
.overview_section p:last-child{ margin-bottom: 0; }
.overview_section .read_more{ font-size: 15px; color: #eee;font-weight: 300; margin-top: 15px; text-align: right; display: inherit;}
.overview_section ul{ padding-left: 20px; }
.overview_section ul li{ font-size: 18px; color: #fff; line-height: 28px; }
.overview_map{ position: relative; margin-bottom: 10px; }
.overview_map img{ width:100%;  border-radius: 4px;}
.overview_weather{ position: relative; }
.overview_weather img{ width: 100%;  border-top-left-radius: 4px;  border-top-right-radius: 4px; }
.update_btn{ display: inline-block; font-size: 13px; font-weight: 300; padding: 5px 15px; background: #004865; color: #fff !important; border-radius: 4px; }
.overview_weather .update_btn{ position: absolute; right: 10px; top: 10px; }
.gallery_section{ padding: 15px 0; }
.upload_photo{ height: calc(100% - 30px); display: flex; flex-wrap: wrap; margin:15px 0; background: rgba(117,206,251,0.5); padding: 10px; text-align: center; }
.upload_photo img{ height: 80px; display: inline-block; margin:auto;}
.upload_photo span{ width: 100%; display: block; font-size: 24px; font-weight: 600; color: #081021; line-height: 26px;}
.gallery_lightbox{ display: block; margin: 15px 0; }
.gallery_lightbox img{ width: 100%; }
.profiles_section{ padding-top: 10px; }
.profile_search{ max-width: 300px; float: right; width: 100%; margin-bottom: 10px; position: relative; }
.profile_search .form-control{ font-size: 18px; color: #000; height: 34px; border: 0; }
.profile_search .form-control:focus{ outline: none; box-shadow: none; }
.profile_search button{ background: none; line-height: 34px; border: 0; position: absolute; top: 0; right: 0; width: 40px; text-align: center; cursor: pointer; }
.delegate_list{ background: rgba(137,214,274,0.5); border-radius: 6px; width: 100%; display: flex; align-items: center; padding: 20px 15px; margin-bottom: 15px; }
.delegate_list .img img{ width: 100px; height: 100px; border-radius: 50%; }
.delegate_list .info{ margin-left: 10px; color: #000; }
.delegate_list .info h4{ font-size: 20px; font-weight: normal; margin-bottom: 4px; }
.delegate_list .info h5{ font-size: 18px; font-weight: normal; margin-bottom: 5px; }
.delegate_list .info p{ font-size: 15px; line-height: normal; }
.delegate_list .info p span{ display: inline-block; margin-right: 3px;}
.delegate_list .btns{ margin-left: auto; text-align: right; }
.delegate_list .btns a{ display: block; }
.delegate_list .btns .save_btn{ margin-top: 25px; white-space: nowrap; font-size: 16px; padding: 0px 15px; color: #fff; background-color: #18437c; line-height: 38px; border-radius: 6px;}

.speaker_list{ background: rgba(0,169,192,0.4); border-radius: 6px; width: 100%; display: flex; flex-wrap: wrap; padding: 20px 15px; margin-bottom: 15px; }
.speaker_list .img{max-width: 18%;}
.speaker_list .img img{ width: 100px; height: auto; border-radius: 4px; border:2px solid #fff; }
.speaker_list .info{max-width: calc(82% - 30px); padding-left: 10px; }
.speaker_list .info .name{ color: #fff; font-size: 20px; font-weight: 500; margin-bottom: 5px; }
.speaker_list .info h5{ color: #eee; font-size: 14px; font-weight: 300; }
.speaker_list .info h5 span{ display: inline-block; margin-right: 3px;}
.speaker_list .info h4{ color: #eee; font-size: 18px; font-weight: 300; }
.speaker_list .btns{ margin-left: auto; text-align: right; }
.speaker_list .btns a{ display: block; }
.speaker_list .btns .save_btn{ margin-top: 25px; white-space: nowrap; font-size: 16px; padding: 0px 15px; color: #fff; background-color: #00a9c0; line-height: 38px; border-radius: 6px;}
.speaker_list p{ width: 100%; font-size: 15px; color: #eee; margin-top: 10px; font-weight: 300; }
.speaker_list p span{ display: block; text-align: right; margin-top: 5px; }
.speaker_list p span a{ color: #eee;}
.speaker_details .img{max-width: 15%;}
.speaker_details .info{max-width: calc(85% - 120px);}

.event_list{ display: flex; margin-bottom: 10px; }
.event_list .event_date{ background: rgba(0,169,192,0.4); width: 100px; float: left; height: 85px; padding-top: 20px; color: #fff; font-size: 22px; text-align: center; line-height: normal; }
.event_list .event_date span{ display: block; font-size: 15px; font-weight: 300; }
.event_list .event_info{ background: rgba(107,207,246,0.7); width: 100%; margin-left: 10px; padding: 15px; font-size: 18px; color: #000; }

.itinerary_list{ position: relative; background: #ffe5b3; border-radius: 4px; margin-bottom: 20px; padding: 25px 5px 30px; }
.itinerary_list:nth-child(even){ background: #fff; }
.itinerary_title{ text-align: center; font-size: 36px; font-weight: 500; line-height: normal; margin-bottom: 20px; }
.itinerary_title span{ display: block; font-size: 18px; font-weight: 400; }
.itinerary_schedule{ height: 30px; overflow: hidden; }
.itinerary_schedule li{ display: flex; font-size: 16px; line-height: 22px;}
.itinerary_schedule li .itinerary_time{ padding: 0; text-align: right;}
.itinerary_schedule li .itinerary_content{ padding-right: 0; padding-left: 10px; }
.itinerary_schedule.show_all{ height: auto; }
.show_more_schedule { cursor: pointer; padding: 0px 15px; position: absolute;left: 50%;transform: translateX(-50%); bottom: 0px; font-size: 28px; line-height: normal;}
.show_more_schedule.hide .fa:before{ content: "\f106";}

.contact_banner{ text-align: center; margin-bottom: 20px; }
.contact_banner img{ max-width: 100%; display: inline-block; border-radius: 4px; }
.contact_info{ background: #ffe5b4; padding: 10px; text-align: center; border-radius: 4px; margin-bottom: 20px;}
.contact_info h4{ font-size: 24px; font-weight: 700; margin-bottom: 5px; }
.contact_info p{ font-size: 18px; line-height: normal;}
.contact_info .border_right:after{ content: ""; width: 2px; height: 100%; background: #333; position: absolute; top: 0; right: -1px; }
.feedback_link{ background: #ffe5b4; padding: 20px 15px; text-align: center; border-radius: 4px; margin-bottom: 20px;}
.feedback_link img{ display: inline-block; margin-right: 5px; height: 50px; }
.feedback_link span{ color: #052257; font-size: 20px; }
.feedback_link span a{ color: #3e8dca; font-weight: 500; text-decoration: underline; }

.virtual_item{ margin-bottom: 15px; }
.virtual_item.left{ padding-right: 15px; }
.virtual_item.right{ padding-left: 15px; text-align: right; }
.virtual_item a{ background: rgba(0,169,192,0.4); display: flex; align-items: center; padding: 8px 12px; border-radius: 4px; }
.virtual_item img{ height: 60px; }
.virtual_item span{ font-size: 18px; font-weight: 500; color: #fff; }
.virtual_item.left img{ margin-right: 15px; }
.virtual_item.right img{ margin-left: 15px; order: 2; }
.virtual_item.right a{ justify-content: flex-end;}
.address_section{ display: flex; flex-wrap: wrap; padding: 20px 0 20px 15px; }
.address_details h5{ font-size: 18px; font-weight: 500; margin-bottom: 5px; color: #fff;  }
.address_details p{ font-size: 16px; color: #fff; line-height: 22px; font-weight: 300; }
.address_section .map img{ width: 100%; }
.emergency_contact{ padding: 15px; }
.emergency_contact h5{ font-size: 18px; font-weight: 500; margin-bottom: 5px; color: #fff;  }
.emergency_contact p{ font-size: 16px; color: #fff; line-height: 22px; font-weight: 300; }
.upload_passport span{ background: rgba(0,169,192,0.4); display: flex; align-items: center; padding: 8px 12px; border-radius: 4px;}
.upload_passport a{ margin-right: 10px; background: none; display: inline-block; padding: 0; border-radius: 0;}

@media(max-width: 767px){
	.dashboard_section{ padding: 10px 0; }
	.dashboard_section .row{ margin: 0px -5px; }
	.dashboard_section [class*=col-]{ padding: 0px 5px; }
	.dash_item{ margin: 5px 0; }
	.gallery_section{ padding: 15px 5px; }
	.gallery_section .row{ margin: 0px -5px; }
	.gallery_section [class*=col-]{ padding: 0px 5px; }
	.gallery_lightbox{ margin: 5px 0; }
	.upload_photo{ margin: 5px 0; height: calc(100% - 10px); }
	.header h1{ font-size: 26px; }
	.delegate_list .img img{ width: 80px; height: 80px; }
	.delegate_list .info h4{ font-size: 18px; }
	.delegate_list .info h5{ font-size: 16px; }
	.delegate_list .info p{ font-size: 13px; }
	.delegate_list .btns .linkedin_btn img{ height: 24px; }
	.delegate_list .btns .save_btn{ font-size: 13px; padding: 10px 20px; line-height: normal; margin-top: 20px;}
	.speaker_list .img img{ width: 80px; height: auto; }
	.speaker_list .info .name{ font-size: 18px; }
	.speaker_list .info h5, .speaker_list p{ font-size: 13px; }
	.speaker_list .info h4{ font-size: 16px; }
	.speaker_list .btns .save_btn{ font-size: 13px; padding: 10px 20px; line-height: normal; margin-top: 20px;}
	.speaker_list .btns .linkedin_btn img{ height: 24px; }
	.about_section h5{ font-size: 16px; }
	.about_section p, .overview_section p{ font-size: 14px; margin-bottom: 15px; line-height: 18px; }
	.overview_section .read_more{ font-size: 13px; }
	.event_section .container{ max-width: 100%; padding: 0; }
	.event_list .event_date{ height: 75px; font-size: 22px; padding-top: 15px; }
	.event_list .event_info{ font-size: 16px; }
	.contact_info h4{ font-size: 22px; }
	.contact_info p{ font-size: 16px; }
	.feedback_link span{ font-size: 18px; }
	.dash_item.dash_itinerary img{ left:40px;}
}
@media(max-width:480px){
	.dashboard_section .row{ margin: 0px -3px; }
	.dashboard_section [class*=col-]{ padding: 0px 3px; }
	.dash_item{ margin: 3px 0; }
	.dash_item{ height: 130px; }
	.dash_item h2{ font-size: 22px; font-weight: 500; line-height: 22px; }
	.dash_item h2 span{ font-size: 14px;}
	.dash_about img { height: 60px; margin-top: 5px; margin-left: 10px;}
	.dash_about h2{ right: 10px; bottom: 5px; }
	.dash_overview h2{ right: 10px;}
	.dash_speaker h2, .dash_event h2, .dash_upload h2, .dash_virtual h2{ left: 10px; top: 10px; }
	.dash_delegate h2, .dash_itinerary h2, .dash_gallery h2, .dash_contact h2{ right: 10px; top: 10px; }
	.landing_footer a{font-size: 14px;}
	.header{ padding: 5px; }
	.header h1{ font-size: 20px; }
	.header .home_btn{ font-size: 24px; }
	.header .back_btn{ font-size: 30px; }
	.green_bg{ min-height: calc(100vh - 66px); }
	.profile_img img{ width: 120px; height: 120px; }
	.profile_img h3{ font-size: 20px; }
	.profile_img button{ font-size: 16px; }
	.profile_edit .form-group label, .profile_edit .form-control{ font-size: 14px; }
	.profile_btns button{ font-size: 20px; line-height: 36px; }
	.footer_social a img{ height: 24px; }
	.about_section h5{ font-size: 15px; }
	.about_section p, .overview_section p{ font-size: 13px; margin-bottom: 15px; line-height: 16px; }
	.overview_map iframe{ height: 240px; }
	.explore_btn a{ font-size: 22px; }
	.profiles_section .container{ padding: 0px 10px; }
	.delegate_list{ padding: 15px 5px; margin-bottom: 10px; }
	.delegate_list .img img{ width: 54px; height: 54px; }
	.delegate_list .info{ margin-left: 5px; }
	.delegate_list .info h4{ font-size: 14px; }
	.delegate_list .info h5{ font-size: 12px; }
	.delegate_list .info p{ font-size: 10px; }
	.delegate_list .btns .linkedin_btn img{ height: 20px; }
	.delegate_list .btns .save_btn{ font-size: 10px; padding: 7px 10px; margin-top: 10px;}
	.speaker_list{ padding: 15px 5px; margin-bottom: 10px; }
	.speaker_list .img img{ width: 54px; height: auto; }
	.speaker_list .info .name{ font-size: 14px; margin-bottom: 3px; }
	.speaker_list .info h5, .speaker_list p{ font-size: 10px; }
	.speaker_list .info h4{ font-size: 13px; }
	.speaker_list .btns .save_btn{ font-size: 13px; padding: 10px 20px; line-height: normal; margin-top: 20px;}
	.speaker_list .btns .linkedin_btn img{ height: 20px; }
	.speaker_list .btns .save_btn{ font-size: 10px; padding: 7px 10px; margin-top: 10px;}
	.speaker_details .info{max-width: calc(85% - 80px);}
	.event_list .event_date{ height: 65px; font-size: 18px; padding-top: 15px; }
	.event_list .event_date span{ font-size: 12px; }
	.event_list .event_info{ font-size: 13px; padding: 12px; }
	.itinerary_list{ padding: 20px 0; }
	.itinerary_title{ font-size: 24px; margin-bottom: 15px; }
	.itinerary_title span{ font-size: 14px; }
	.itinerary_schedule li{ font-size: 12px;line-height: 16px; }
	.contact_info h4{ font-size: 18px; }
	.contact_info p{ font-size: 13px; }
	.feedback_link span{ font-size: 15px; }
	.feedback_link img{ height: 36px; }
	.contact_info [class*=col-]{ padding: 0px 10px; }
	.address_details h5, .emergency_contact h5{ font-size: 13px; margin-bottom: 3px; }
	.address_details p, .emergency_contact p { font-size: 11px; color: #fff;line-height: 14px;}
	.dash_item.dash_itinerary img{ bottom: 10px; height: 64px; left: 30%; transform: translateX(-50%);}
}

@media(max-width:359px){
	.dash_item{ height: 110px; }
	.dash_item h2{ font-size: 20px; line-height: 18px; }
	.dash_item h2 span{ font-size: 13px; font-weight: normal; }
	.landing_footer a{font-size: 12px;}
	.dash_about img{ height: 45px; }
	.delegate_list .info h4{ font-size: 13px; }
	.delegate_list .info h5{ font-size: 11px; }
	.delegate_list .info p{ font-size: 9px; }
	.delegate_list .btns .linkedin_btn img{ height: 18px; }
	.delegate_list .btns .save_btn{ font-size: 10px; padding: 6px 8px; margin-top: 5px;}
	.speaker_list .info .name{ font-size: 13px; }
	.speaker_list .info h5, .speaker_list p{ font-size: 9px; }
	.speaker_list .info h4{ font-size: 12px; }
	.speaker_list .btns .linkedin_btn img{ height: 18px; }
	.speaker_list .btns .save_btn{ font-size: 9px; padding: 5px 10px; margin-top: 10px;}
	.speaker_details .info{max-width: calc(85% - 75px);}
	.contact_info h4{ font-size: 16px; }
	.contact_info p{ font-size: 11px; }
	.feedback_link span{ font-size: 13px; }
	.feedback_link img{ height: 30px; }
	.virtual_item img{ height: 52px; }
	.virtual_item span{ font-size: 16px; }
	.virtual_item.left img{ margin-right: 12px; }
	.virtual_item.right img{ margin-left: 12px; }
	.upload_photo img{ height: 70px; }
	.upload_photo span{ font-size: 20px; line-height: 22px; }
}

.dash_item{ height: calc(100% - 30px) !important; }
.dash_item img{ width: 100%; height: 100%; }
@media(max-width: 767px){
	.dashboard_section .container{ padding: 0 10px; }
	.dash_item{ height: calc(100% - 10px) !important; }
}

